
/* 
            SIZES
*/
.n0-size-normal {
    font-size: 1rem;
    line-height: 1.2rem;
}


/* 
            STYLES
*/

.n0-style-bubble {
    border-radius: var(--n0-radius-bubble);
}

.n0-style-round {
    border-radius: var(--n0-radius-round);
}

/* 
            STATES
*/

.n0-state-normal {
    background-color: #ebebeb;
    transition: background-color .12s ease-out;
}
.n0-state-normal:hover {
    background-color: var(--n0-color-base-light);
    transition: none;
}

.n0-state-ready {
    background-color: var(--n0-color-base);
    color: var(--n0-color-base-black);
    transition: background-color .12s ease-out;
}
.n0-state-ready:hover {
    background-color: var(--n0-color-base-light);
    transition: none;
}

.n0-state-error {
    background: var(--n0-color-red);
    color: white;
}
.n0-state-error svg path {fill: white !important;}
.n0-state-error:hover {background: var(--n0-color-red-light);}

.n0-state-waiting {
    --n0-col-1: rgb(255, 235, 147);
    --n0-col-2: rgb(255, 204, 93);
    background: linear-gradient(
        45deg,
        var(--n0-col-1) 0%,
        var(--n0-col-1) 25%,
        var(--n0-col-2) 25%,
        var(--n0-col-2) 50%,
        var(--n0-col-1) 50%,
        var(--n0-col-1) 75%,
        var(--n0-col-2) 75%,
        var(--n0-col-2) 100%
    );
    background-size: 32px 32px;
    pointer-events: none;
    animation: n0-waiting .6s linear infinite;
}
.n0-state-waiting .v-chip__underlay {background: none;}
@keyframes n0-waiting {
    from {background-position-x: 0px;}
    to {background-position-x: 32px;}
}