
/* 
==========================================
        INPUT - text
==========================================
*/

.n0-input-text {
    position: relative;
    overflow: hidden;
}

@scope(.n0-input-text) {

    .placeholder {
        opacity: .3;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transform-origin: 0% 0%;
        transition: transform .1s ease-out, opacity .1s ease-out;
        white-space: nowrap;
    }

}


.n0-input-text.n0-size-normal {
    line-height: 0.8rem;
}

@scope(.n0-input-text.n0-size-normal) {

    input {
        width: 100%;
    }

    :scope.n0-size-normal input {
        padding: 0.7rem 1rem .3rem 1rem;
        transition: background-color .12s ease-out;
    }

    :scope.n0-size-normal .placeholder {
        top: 0;
        left: 1rem;
        padding-top: .7rem;
    }

}

.n0-input-text.n0-size-normal:not(:has(.placeholder)) input { padding: 0.5rem 1rem; }

.n0-input-text.n0-state-normal:has(input:focus) { background-color: var(--n0-color-base); }
.n0-input-text.n0-state-normal:has(input:hover) { background-color: var(--n0-color-base-light); }
.n0-input-text.n0-state-normal:has(.action:hover) { background-color: var(--n0-color-gray-light); }

.n0-input-text:has(input:focus) .placeholder,
.n0-input-text:has(input:not(:placeholder-shown)) .placeholder {
    opacity: .5;
    transform: scale(.48);
}
/* 
==========================================
        INPUT - text action
==========================================
*/

@scope(.n0-input-text-action) {
    
    :scope.n0-size-normal input {
        padding-right: 2.5rem;
    }

    .action {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .action::before {
        content: '';
        position: absolute;
        top: -.3rem;
        left: -.3rem;
        width: calc(100% + .6rem);
        height: calc(100% + .6rem);
        border-radius: var(--n0-radius-bubble);
    }

    :scope.n0-size-normal .action {
        opacity: 1;
        top: .3rem;
        right: .3rem;
        min-width: 1.65rem;
        height: 1.65rem;
        outline: .0rem solid var(--n0-color-base);
        transition: opacity .12s ease-out, outline .08s ease-out, right .12s ease-out;
    }
    
    :scope.n0-size-normal .action:hover {
        outline: .3rem solid var(--n0-color-base);
    }

    :scope.n0-size-normal .action svg {
        width: .8rem;
        height: .8rem;
    }

    :scope.n0-state-waiting .action {
        opacity: 0;
        right: -.5rem;
    }

}