.n0-finder-list {

}

.n0-finder-list .n0-list {
    opacity: 0;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    pointer-events: none;

    transition: opacity .12s ease-out;
}

.n0-finder-list .n0-list.open {
    opacity: 1;
    pointer-events: auto;
}