.n0-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1010;
    transition: opacity .12s ease-out;

    --margin: .6rem;
    --border-radius: .6rem;
}
.n0-modal.close {
    opacity: 0;
    pointer-events: none;
}
.n0-modal.open {
    opacity: 1;
}

@scope(.n0-modal) {

    .n0-devider {
        padding: calc(var(--margin) * 0.5);
    }

    .n0-shadow {
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0, .75);
    }

    .n0-frame {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: var(--border-radius);
        z-index: 1;
    }

    .n0-header,
    .n0-footer {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: var(--margin);
        font-size: 1rem;
    }

    .n0-header {
        padding: calc(var(--margin) * 1.2) var(--margin);
        background-color: var(--n0-color-gray-light);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        color: rgba(0,0,0, .5);
    }

    .n0-footer::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: var(--margin);
        width: calc(100% - var(--margin) * 2);
        border-top: 1px solid rgba(0,0,0, .1);
    }

    .n0-content {
        padding: var(--margin);
    }

    .left,
    .center,
    .right {
        display: flex;
    }

    .n0-content .left,
    .n0-content .center,
    .n0-content .right {
        flex-direction: column;
    }

}