:root {
    --n0-color-base: #a0e32b;
    --n0-color-base-light: #baf455;
    --n0-color-base-black: #334a07;
    --n0-color-red: #e03505;
    --n0-color-red-light: #fd5037;
    --n0-color-gray-light: #c4c4c4;
}

body > .v-overlay-container {
    position: fixed;
}

#floatMenu {
    top: 64px !important;
}

.v-application {
    background-color: #cdcdd3 !important;
}
.v-card--variant-elevated.ma-2 {background: rgba(255, 255, 255, .75);}