:root {
    --n0-color-base: #a0e32b;
    --n0-color-base-light: #baf455;
    --n0-color-base-black: #334a07;
    --n0-color-red: #e03505;
    --n0-color-red-light: #fd5037;
    --n0-color-gray-light: #e4e4e4;

    --svg-color: rgba(0, 0, 0, 0.8);

    --n0-radius-round: .5rem;
    --n0-radius-bubble: 2rem;
}

body > .v-overlay-container {
    position: fixed;
}

#floatMenu {
    margin: -1rem -1rem 0 -1rem;
    border-radius: 0;
    top: 64px !important;
}

.v-application {
    background-color: #cdcdd3 !important;
}
.v-card--variant-elevated.ma-2 {background: rgba(255, 255, 255, .75);}