@import url('./base.css');
@import url('./ui.css');
@import url('../modules/EnchanceFiles/style/main.css');

#floatMenu {
    top: 64px !important;
}



/* 
==========================================
        UI - Modal
==========================================
*/

.n0-modal-shadow {
    opacity: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .75);
    z-index: 99999;
    transition: opacity .12s ease-out;
}
.n0-modal-shadow.closed {
     opacity: 0;
    pointer-events: none;
}

.n0-modal-frame {
    --border-radius: calc(var(--n0-margin));
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: calc(100% - var(--n0-margin) * 4);
    min-height: 160px;
    max-height: calc(100% - var(--n0-margin) * 4);
    background: rgba(255,255,255, 1);
    border-radius: var(--border-radius);
    transform: translateY(0vh);
    transition: transform .12s ease-out;
    font-size: small;
}

.n0-modal-frame [class*="n0-btn"] {
    padding: 0 12px;
    line-height: 32px;
    cursor: pointer;
}

.closed > .n0-modal-frame {
    transform: translateY(12vh);
}

.n0-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: var(--n0-margin);
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

.n0-modal-header,
.n0-modal-footer{
    display: flex;
    position: relative;
    padding: var(--n0-margin);
}
.n0-modal-header {
    color: rgba(0,0,0, .6);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--n0-color-light-gray);
}
.n0-modal-footer::before {
    content: '';
    position: absolute;
    left: var(--n0-margin);
    width: calc(100% - var(--n0-margin) * 2); 
    height: 0;
    top: 0;
    border-top: 1px solid rgba(0,0,0, .06);
}

.n0-header-action,
.n0-footer-action{
    display: flex;
    flex: 1;
    padding: 2px 0;
    line-height: 32px;
}
.n0-header-action {
    justify-content: center;
    line-height: 24px;
}
.n0-footer-action {justify-content: space-between;}



/* 
==========================================
        ENCHANCED FILES
==========================================
*/





/* 
==========================================
        IMAGE PREVIEW
==========================================
*/



/* 
==========================================
            OTHER
==========================================
*/

.n0-error {
    background: var(--n0-color-red);
    color: white;
}

.n0-error:hover {
    background: var(--n0-color-red-light);
}

.n0-waiting {
    --n0-col-1: rgba(255, 230, 119, .666);
    --n0-col-2: rgb(255, 190, 50);
    background: linear-gradient(
        45deg,
        var(--n0-col-1) 0%,
        var(--n0-col-1) 25%,
        var(--n0-col-2) 25%,
        var(--n0-col-2) 50%,
        var(--n0-col-1) 50%,
        var(--n0-col-1) 75%,
        var(--n0-col-2) 75%,
        var(--n0-col-2) 100%
    );
    background-size: 32px 32px;
/*     box-shadow: 0 0 0px 2px var(--n0-col-2); */
/*     box-shadow: inset 0 0 0px 2px rgba(185, 131, 1, .33); */
    pointer-events: none;
    animation: n0-waiting .6s linear infinite;
}
@keyframes n0-waiting {
    from {background-position-x: 0px;}
    to {background-position-x: 32px;}
}

.n0-waiting .v-chip__underlay {background: none;}