#n0-ticket-finder {
    width: 8rem;
    margin-right: 1rem;
}

@scope(#n0-ticket-finder) {

    svg {
        transform: rotate(90deg);
    }

}

#n0-room-finder {
    display: flex;
}

@scope(#n0-room-finder) {

    svg {
        transform: rotate(90deg);
    }

}