
/* 
======================================================================
                                SLIDER
======================================================================
*/

.n0-ef-slider {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-color: rgba(0,0,0, .9);
    z-index: 9999;
    pointer-events: none;
    transition: opacity, .2s ease-out;
}
.n0-ef-slider.open {
    opacity: 1;
    pointer-events: all;
}

.n0-ef-slider-content {
    display: flex;
    justify-content: space-between;
    height: 88vh;
}

.n0-ef-slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    position: relative;
    width: 10vw;
    cursor: pointer;
    color:rgba(255,255,255, .66);
    transition: padding .2s ease-out;
    user-select: none;
}
.n0-ef-slider-arrow:hover { color:rgba(255,255,255, 1); }
.n0-ef-slider-arrow-left:hover { padding-right: 5vh; }
.n0-ef-slider-arrow-right:hover { padding-left: 5vh; }

.n0-ef-slider-arrow::after {
    content: '';
    position: absolute;
    top: 4vh;
    height: calc(100% - 4vh);
    border-left: 1px solid rgba(255,255,255, .1);
}
.n0-ef-slider-arrow-left::after { right: 0; }
.n0-ef-slider-arrow-right::after { left: 0; }

.n0-ef-slider-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.n0-ef-slider-viewer::before {
    content: '';
    position: absolute;
    top: 4vh;
    left: 0;
    width: 100%;
    height: 84vh;
    background-color: rgba(0,0,0, .1);
}

.n0-ef-slider-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4vh;
}

.n0-ef-slider-name {
    overflow: hidden;
    width: 50%;
    min-width: 20vh;
    color: white;
    font-size: 1.2vh;
    line-height: 4vh;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n0-ef-slider-actions {
    display: flex;
    align-items: center;
}

.n0-ef-slider-actions button {
    line-height: 3vh;
    font-size: 1.2vh;
    padding: 0 1.2vh 0 1vh;
    text-transform: uppercase;
}
.n0-ef-slider-actions button svg {
    width: 1.6vh;
    margin-right: 0.5vh;
}

.n0-ef-slider-images {
    position: relative;
    overflow: hidden;
    height: 84vh;
    transition: width .12s ease-out;
    user-select: none;
}

.n0-ef-slider-image {
    position: absolute;
    max-width: 80vw;
    max-height: 84vh;

    transition: left .12s ease-out;
}

.n0-ef-slider-previews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    user-select: none;
}

.n0-ef-slider-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 0.75;
    height: 10vh;
    min-width: 4vh;
    margin-top: 1vh;
    margin: 0 4px;
    margin-bottom: -1vh;
    cursor: pointer;
    background-color: rgba(0,0,0, .5);
    transition: transform .12s ease-out, opacity .12s ease-out, margin .12s ease-out;
}
.n0-ef-slider-preview:hover {
    transform: translateY(-1vh);
    opacity: 1;
}
.n0-ef-slider-preview.current {
    transform: translateY(-1vh);
    opacity: 1;
}

.n0-ef-slider-preview::after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0vh;
    background-color: var(--n0-color-base);
    transition: height .12s ease-out, opacity .12s ease-out;
}
.n0-ef-slider-preview.current::after {
    opacity: 1;
    height: 1vh;
}

.n0-ef-slider-preview img {
    height: auto;
    max-height: 100%;
    max-width: 20vh;
}


/* 
======================================================================
                                FILES
======================================================================
*/

@scope (.n0-et-files) {

a {cursor: pointer;}

/* 
        FILES - files
*/

.n0-file {
    overflow: visible !important;
}
    
.n0-button.to-parent {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid transparent;
    background-clip: padding-box;
    transition: opacity .12s ease-out, top .12s ease-out, background-color .08s ease-out, border .12s ease-out;
}
.n0-file:hover .n0-button.to-parent {
    border: 4px solid white;
    border-bottom: 4px solid transparent;
    opacity: 1;
    top: calc(0px - 1.2rem - 8px);
}

.n0-button.download {
    padding: .5rem;
    margin-left: -0.7rem;
    margin-right: 0.4rem;
}
.n0-button.download:hover {background-color: var(--n0-color-base-light);}
.n0-button.download svg {width: 1rem; height: 1rem;}

@scope (.n0-file) {

    a {
        padding: .4rem 0;
    }

}

/* 
        FILES - images
*/

.n0-images {
    display: flex;
    flex-wrap: wrap;
}

@scope (.n0-images) {

    .n0-image-wrapper {
        position: relative;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin: 6px;
        padding: 0;
        min-width: 60px;
        height: 120px;
        background-color: rgba(0,0,0, .1);
        transition: background-color .2s ease-out;
    }
    a:hover,
    a.n0-ef-lookup {
        background-color: var(--n0-color-base);
        transition: none;
    }

    /* IMGS */

    img {
        max-height: 120px;
        max-width: 280px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0, .12);
        transition: opacity .2s ease-out;
    }
    a:hover img,
    a.n0-ef-lookup img {
        opacity: 0.5;
        border: 1px solid rgba(0,0,0, .12);
        transition: none;
    }

    .n0-file:hover .n0-button.to-parent {
        top: calc(0px - 1.2rem - 2px);
    }

    .n0-button.download {
        opacity: 0;
        position: absolute;
        top: -8px;
        left: 8px;
        padding: 3px;
        margin: 0;
        z-index: 999;
        transition: opacity .12s ease-out, top .12s ease-out;
    }
    .n0-button.download svg {width: 12px; height: 12px;}
    .n0-file:hover .n0-button.download {
        top: 8px;
        opacity: .7;
    }
    .n0-file:hover .n0-button.download:hover {opacity: 1;}   

}

}

