@import url('./files.css');
@import url('./comments.css');

/* 
======================================================================
                                SLIDER
======================================================================
*/

.n0-ef-slider {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-color: rgba(0,0,0, .9);
    z-index: 9999;
    pointer-events: none;
    transition: opacity, .2s ease-out;
}
.n0-ef-slider.open {
    opacity: 1;
    pointer-events: all;
}

.n0-ef-slider-content {
    display: flex;
    justify-content: space-between;
    height: 88vh;
}

.n0-ef-slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    position: relative;
    width: 10vw;
    cursor: pointer;
    color:rgba(255,255,255, .66);
    transition: padding .2s ease-out;
    user-select: none;
}
.n0-ef-slider-arrow:hover { color:rgba(255,255,255, 1); }
.n0-ef-slider-arrow-left:hover { padding-right: 5vh; }
.n0-ef-slider-arrow-right:hover { padding-left: 5vh; }

.n0-ef-slider-arrow::after {
    content: '';
    position: absolute;
    top: 4vh;
    height: calc(100% - 4vh);
    border-left: 1px solid rgba(255,255,255, .1);
}
.n0-ef-slider-arrow-left::after { right: 0; }
.n0-ef-slider-arrow-right::after { left: 0; }

.n0-ef-slider-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.n0-ef-slider-viewer::before {
    content: '';
    position: absolute;
    top: 4vh;
    left: 0;
    width: 100%;
    height: 84vh;
    background-color: rgba(0,0,0, .1);
}

.n0-ef-slider-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 4vh;
}

.n0-ef-slider-name {
    overflow: hidden;
    width: 50%;
    min-width: 20vh;
    color: white;
    font-size: 1.2vh;
    line-height: 4vh;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n0-ef-slider-actions {
    display: flex;
    align-items: center;
}

.n0-ef-slider-actions button {
    line-height: 3vh;
    font-size: 1.2vh;
    padding: 0 1.2vh 0 1vh;
    text-transform: uppercase;
}
.n0-ef-slider-actions button svg {
    width: 1.6vh;
    margin-right: 0.5vh;
}

.n0-ef-slider-images {
    position: relative;
    overflow: hidden;
    height: 84vh;
    transition: width .12s ease-out;
    user-select: none;
}

.n0-ef-slider-image {
    position: absolute;
    max-width: 80vw;
    max-height: 84vh;

    transition: left .12s ease-out;
}

.n0-ef-slider-previews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    user-select: none;
}

.n0-ef-slider-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 0.75;
    height: 10vh;
    min-width: 4vh;
    margin-top: 1vh;
    margin: 0 4px;
    margin-bottom: -1vh;
    cursor: pointer;
    background-color: rgba(0,0,0, .5);
    transition: transform .12s ease-out, opacity .12s ease-out, margin .12s ease-out;
}
.n0-ef-slider-preview:hover {
    transform: translateY(-1vh);
    opacity: 1;
}
.n0-ef-slider-preview.current {
    transform: translateY(-1vh);
    opacity: 1;
}

.n0-ef-slider-preview::after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0vh;
    background-color: var(--n0-color-base);
    transition: height .12s ease-out, opacity .12s ease-out;
}
.n0-ef-slider-preview.current::after {
    opacity: 1;
    height: 1vh;
}

.n0-ef-slider-preview img {
    height: auto;
    max-height: 100%;
    max-width: 20vh;
}


/* 
======================================================================
                                FILES
======================================================================
*/